@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    background-color: #383838;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}

#logo {}

nav {
    display: flex;
    flex-direction: row;
    background-color: #3d55cc;
    font-size: 1rem;
    padding: 1.5rem 4rem;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    margin: 0rem;
}